always-auth=true
@gsap:registry=https://npm.greensock.com
//npm.greensock.com/:_authToken=${GREENSOCK_AUTH_TOKEN}

# always-auth=true
# //npm.greensock.com/:_authToken=8c910813-4d75-4adb-a2e1-e7ac97d3343b
# @gsap:registry=https://npm.greensock.com
