@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	/* --bg-background:   Set up the variables here or there will be weird transparency issues all over the place */
	body {
		@apply bg-background text-primary;
	}
	:root {
		 --primary: 240 5.9% 10%;
    	--primary-foreground: 0 0% 98%;

	   --background: 0 0% 100%;
   	 --foreground: 240 10% 3.9%;
	     --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
	}
}
