@keyframes animate-stripes {
	0% {
		background-position: 60px 0;
	}

	100% {
		background-position: 0 0;
	}
}

.animate-spin {
	animation: spin 1.5s linear infinite;
}

.animate-ping {
	animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes ping {
	85%,
	100% {
		/* transform: scale(.75); */
		animation: ping 2s cubic-bezier(0, 0.2, 0, 1) infinite;
		background-color: rgb(108, 211, 211);
		opacity: 100;
	}
}

@keyframes preloader {
	100% {
		transform: scale(2);
	}
}

@keyframes float {
	// use: animation: float 6s ease-in-out infinite;
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

@media (prefers-reduced-motion: no-preference) {
	/* .App-logo {
			animation: App-logo-spin infinite 20s linear;
		} */
}
